.container-content-sm{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-content: start;
    flex-wrap: wrap;
    margin: 10px 200px 0px 200px;
    
}
h1{
    margin: 100px 70px 0px 200px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}