@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
body{
    color: white;
}
.container{
    position: relative;
}
p{
    color: white;
}
.back-image{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.card-single{
    position: absolute;
    top: 200px;
    left: 6rem;
    z-index: 21;
    display: flex;
}
.card-single p{
    margin-top: 30px;
    margin-left: 1rem;
    font-size: 42px;
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 700px;
    height: 72px;
    overflow: hidden;
    
}
.card-single .item{
    margin-top: 25rem;
    margin-left: 20rem;

}
.tag{
    display: flex;
    gap: 0.7rem;
}
.info{
    display: flex;
    gap: 1.3rem;
}
.info-content{
    position: absolute;
    top: 300px;
    left: 430px;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.text-info{
    font-size: 16px;
    color: white;
    width: 50rem;
    font-weight: bold;
}
.text-story{
    font-size: 16px;
    color: white;
    width: 600px;
    font-weight: 500;
    margin-left: 0;
}
.Container-Card .text-head{
    font-size: 26px;
    margin-top: 5rem;
    margin-left: 14rem;
    margin-bottom: 1.5rem;
}
.Card-content{
    display: flex;
    width: 100vw;
    justify-content: center;
    gap: 1rem;
}
.container-comment{
    width: 100;
    margin: 10rem 14rem;
}

.NumPositive{
    width: 140px;
    height: 80px;
    background-color: #3ca455;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.NumPositive p:first-child{
    font-size: 29px;
    font-weight: bold;
}
.NumPositive p:last-child{

    font-weight: bold;
}
.NumNagative{
    width: 140px;
    height: 80px;
    background-color: #c84040;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.NumNagative p:first-child{
    font-size: 29px;
    font-weight: bold;
}
.NumNagative p:last-child{
    font-weight: bold;
}
.doughnut-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.Chart1{
    width: fit-content;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.posNag-info{
    margin-top: 20px;
    display: flex;
    gap: 5px;
}
.coment-nakub{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: start;
    align-items: center;
}
.comment-list{
    margin: 20px;
    display: flex;
    width: 100vw;
    gap: 20px;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    height:500px;
}
.line-container{
    margin-top: 40px;
    font-size: 30px;
    width: fit-content;
}
.doughnut-container{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}